.post-title {
  margin-top: 30px;
  background-color: aliceblue;
  font-size: 30px;
  font-family: "Segoe UI", sans-serif;
}

.post-body {
  margin: 50px 100px;
  font-size: 20px;
  text-align: justify;
}
